<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    <body>
    
        <% if (usuariolog) { %>
            <%- include('./partials/headerLogueado') %> 
        <% }else{%>
            <%- include('./partials/headerDeslogueado') %> 
        <% } %>

    
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="<%=user.imagen %>" alt="foto de perfil" class="foto-perfil">
                    </div>
                    <div class=" uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <h3 class="uk-margin-remove"><%= user.nombre %> <%= user.apellido %></h3>
             
                          <% if (usuariolog && user.id != usuariolog.id) { %>
                        <div class="float-end">
                          <% if (user.followers.find(follow => follow.follower_id == usuariolog.id)) { %>
                            <a href="/users/<%= user.id %>/unfollow" class="btn btn-danger"> <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Dejar de Seguir</button>
                            </a>
                          <% } else { %>
                            <a href="/users/<%= user.id %>/follow" class="btn btn-primary"> <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Seguir</button>
                            </a>
                          <% } %>
                        </div>
                      <% } %> 
                           
                            <a href="/users/edit" uk-icon="icon:cog; ratio: 1.2" class="uk-margin-left"></a>
                        </div>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <li><%= user.posteos.length%> posts</li>
                                <li>200 seguidores</li>
                                <li>300 seguidos</li>
                            </ul>
                        </div>
                    </div>
                    
               </section>
               <form action="/users/searchuser" class="uk-search uk-search-default">
                <span uk-search-icon></span>
                <input type="search" class="uk-search-input" placeholder="Buscar otro usuario.." name="search">
            </form>

               <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <% for( let i = 0; i < user.posteos.length; i++ ) { %>
                            <% let post = user.posteos[i] %> 
                                <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                                    <a href="/posts/detalle/<%= post.id %> " class="link-detalle">
                                        <img src="<%= post.imagen%>" alt="foto de perfil" class="foto-perfil">
                                        <p class="uk-text-center"><%= post.descripcion %> </p>
                                    </a>
                                </div>
                       <% } %>
                        
                        
                    </div>
               </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>