<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>

    <%- include('./partials/headerLogueado') %> 

    <main>
        
        <div class="uk-section uk-section-small login-page">
            <div class="uk-container uk-container-large uk-flex container">
                <form class="login-form" action="/posts/edit/<%= post.id %> " method="POST" enctype="multipart/form-data">
                    <p> 
                    <input type="text" placeholder="Descripción" id="description" name="descripcion" value="<%= post.descripcion %>">
                    </p> 
                    <p> 
                    <input type="file" placeholder="imagen" id="imagen" name="imagen">
                    </p> 
                    <% if (error) { %>
						<p id="error"><%=error%></p>
					<% } %>
                    <p> 
                    <button id="description"> Editar</button>
                     </p> 
                </form>

            </div>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>